<div class="flex justify-between items-center mt-10 mb-18">
  <div class="flex">
    <button routerLink="/" type="button" title="close"
      class="inline-flex items-center justify-center h-8 w-8 px-2 py-1 md:m-2 space-x-1 text-sm font-medium text-gray-800 transition bg-warm border border-gray-200 rounded-full appearance-none cursor-pointer select-none hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-transparent">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

  </div>
  <div class="flex space-x-2 h-8">
    <div class="relative z-0 flex -space-x-px">
      <button (click)="saveEditorData()" class="disabled:opacity-50 transition inline-flex items-center justify-center space-x-1.5 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:z-10 shrink-0 saturate-[110%] border-btn hover:bg-slate-100 px-3 py-1.5 text-sm font-medium rounded-full rounded-r-none">
        <span>publish</span>
      </button>
      <button title="drop" class="disabled:opacity-50 transition inline-flex items-center justify-center space-x-1 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:z-10 shrink-0 saturate-[110%] border-btn hover:bg-slate-100 px-2 py-1.5 text-sm font-medium rounded-full rounded-l-none">
        <span>
          <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4">
            <path d="m6 9 6 6 6-6">
            </path>
          </svg>
        </span>
      </button>
    </div>
    <div
      class="relative flex shrink-0 select-none items-center justify-center bg-slate-200 font-semibold uppercase text-slate-800 h-8 w-8 text-xs rounded-full">
      <span>M</span>
    </div>
  </div>
</div>
<div class="my-16 mb-64">
  <div class="max-w-2xl mx-auto">
    <div>
      <div class="flex items-center justify-between w-full mb-10" [formGroup]="editorForm">
        <div formControlName="headline" placeholder="Story head" title="set header"
          class="w-full text-5xl focus-visible:ring-0 focus-visible:outline-none editor-title customTitleControl-field u-minHeight20 u-width100pct u-hideOutline js-customTitleControlSubtitle editable inlineError inlineError--maxLength display-char-count inlineError--muted"
          id="editor" role="textbox" contenteditable striptags data-placeholder="title..." data-chars-remaining="0">
        </div>
      </div>
    </div>
  </div>
  <div id="editorjs"></div>
</div>