<div class="container h-full overflow-y-auto bg-white lg:overflow-y-hidden">
    <div class="my-10 flex items-center justify-between">
        <div class="flex">
            <button routerLink="/" type="button" title="close" (click)="close()"
                class="bg-warm inline-flex h-8 w-8 cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded-full border border-gray-200 px-2 py-1 text-sm font-medium text-gray-800 transition hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-transparent md:m-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="flex h-8 space-x-2">
            <div class="relative z-0 flex -space-x-px">
                <button
                    class="border-btn inline-flex shrink-0 items-center justify-center space-x-1.5 rounded-full rounded-r-none border px-3 py-1.5 text-sm font-medium saturate-[110%] transition hover:bg-slate-100 focus:z-10 focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50">
                    <span>schedule</span>
                </button>
                <button title="drop"
                    class="border-btn inline-flex shrink-0 items-center justify-center space-x-1 rounded-full rounded-l-none border px-3 py-1.5 text-sm font-medium saturate-[110%] transition hover:bg-slate-100 focus:z-10 focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50">
                    <span> post </span>
                </button>
            </div>
            <div
                class="relative flex h-8 w-8 shrink-0 select-none items-center justify-center rounded-full bg-slate-200 text-xs font-semibold uppercase text-slate-800">
                <span>M</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col space-y-4 lg:flex-row lg:space-x-2 lg:space-y-0">
        <a class="group relative block grow-3" *ngIf="this.poster">
            <div class="relative sm:max-w-[350px] md:h-[450px]">
                <span class="inline-flex my-2 shrink-0 items-center space-x-1.5 text-xs font-medium px-3 py-1 rounded-md text-slate-800 bg-slate-100 false">
                    <span class="whitespace-nowrap">preview</span>
                  </span>
                <span
                    class="absolute z-40 m-1 flex shrink-0 items-center space-x-1.5 rounded bg-white p-1 text-xs font-medium text-slate-800">
                    <span class="whitespace-nowrap">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                            <path fill-rule="evenodd" d="M2 4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V4Zm10.5 5.707a.5.5 0 0 0-.146-.353l-1-1a.5.5 0 0 0-.708 0L9.354 9.646a.5.5 0 0 1-.708 0L6.354 7.354a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0-.146.353V12a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5V9.707ZM12 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" clip-rule="evenodd" />
                          </svg>
                                                 
                    </span>
                </span>
                <ng-container>
                    <a class="group block cursor-pointer">
                        <div class="relative">
                            <img src="{{ selectedPoster }}" alt=""
                                class="inset-0 w-full rounded object-cover opacity-100 group-hover:opacity-0  h-[350px]" />
                            <img src="{{ '' }}" alt=""
                                class="inset-0 w-full object-cover opacity-0 group-hover:opacity-100" />
                        </div>
                        <div class="mt-3">
                            <span
                                class="text-base font-medium text-gray-700 group-hover:underline group-hover:underline-offset-4 dark:text-slate-50">
                                {{ this.editorForm.controls['headline'].value }}
                            </span>
                            <p class="mt-1.5 max-w-[40ch] text-xs text-gray-500 dark:text-slate-300">
                                {{ this.editorForm.controls['description'].value }}
                            </p>
                        </div>
                    </a>
                </ng-container>
                <img [src]="selectedPoster" alt=""
                    class="hidden h-[350px] max-w-[350px] rounded object-cover sm:h-[450px]" />
                <div class="z-99 absolute bottom-2 hidden w-full justify-center">
                    <div class="flex -space-x-px">
                        <button title="previous"
                            class="inline-flex shrink-0 items-center justify-center space-x-1.5 rounded-md rounded-r-none border border-slate-300 bg-white px-3 py-1.5 text-sm font-medium text-slate-900 saturate-[110%] transition hover:bg-slate-50 focus:z-10 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 disabled:opacity-50">
                            <span>
                                <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5"
                                    viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                    xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                                    <path d="m15 6-6 6 6 6"></path>
                                </svg>
                            </span>
                        </button>
                        <button title="next"
                            class="inline-flex shrink-0 items-center justify-center space-x-1.5 rounded-md rounded-l-none border border-slate-300 bg-white px-3 py-1.5 text-sm font-medium text-slate-900 saturate-[110%] transition hover:bg-slate-50 focus:z-10 focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 disabled:opacity-50">
                            <span>
                                <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5"
                                    viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                                    xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
                                    <path d="m9 18 6-6-6-6"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </a>
        <div class="group block rounded">
            <div class="grid grid-cols-2 gap-2 overflow-auto md:grid-cols-2 lg:max-w-sm">
                <div class="relative" *ngFor="let image of poster; let i = index">
                    <checkbox [label]="image.label" [isChecked]="image.selected" (checkedChange)="onCheckboxChange(i)">
                    </checkbox>
                    <img class="h-auto max-w-full rounded" [src]="image.url" [alt]="image" title="poster" />
                </div>
            </div>
        </div>
        <div class="grow-2 pb-4 md:pb-0">
            <div>
                <div class="max-w-md px-0 lg:px-6">
                    <form action="" class="mx-auto mb-0 max-w-md space-y-4" [formGroup]="editorForm">
                        <div>
                            <div class="flex w-full flex-col rounded bg-slate-950 px-4 py-3 font-medium ring-1 ring-slate-700"
                                aria-live="assertive">
                                <div class="flex items-center justify-between">
                                    <div class="flex shrink-0 items-center gap-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="w-4 h-4 fill-slate-50">
                                            <path
                                                d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
                                            <path
                                                d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
                                        </svg>

                                        <span class="truncate text-white">Editor</span>
                                    </div>
                                    <div class="flex shrink-0 items-center gap-3 hidden">
                                        <div aria-label="Loading..." role="status">
                                            <svg width="24" height="24" fill="none" stroke="currentColor"
                                                stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round"
                                                stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"
                                                class="animate-spin w-6 h-6 stroke-slate-50">
                                                <path
                                                    d="M12 3v3m6.366-.366-2.12 2.12M21 12h-3m.366 6.366-2.12-2.12M12 21v-3m-6.366.366 2.12-2.12M3 12h3m-.366-6.366 2.12 2.12">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="pt-4 text-xs font-normal text-slate-400">
                                    note* -> ... save any changes using the button located above the 'Post' name. 
                                    Drafts are preserved for scheduled uploads. Ensure you save modifications to 
                                    prevent accidental loss upon closing or manual actions.
                                </span>
                            </div>
                            <div class="relative">
                                <input type="headline" formControlName="headline" id="headline"
                                    class="border-btn mt-2 w-full rounded border p-4 pe-12 text-sm shadow-sm"
                                    placeholder="title ..." />
                            </div>
                        </div>
                        <div>
                            <label for="password" class="sr-only">Password</label>
                            <div class="relative">
                                <div>
                                    <textarea id="Description" formControlName="description"
                                        class="border-btn mt-2 w-full rounded align-top shadow-sm sm:text-sm" rows="4"
                                        placeholder="Provide a concise, professional description, if possible."></textarea>
                                </div>
                            </div>
                        </div>
                        <div
                            class="false inline-flex shrink-0 items-center space-x-1.5 rounded-full bg-slate-100 px-3 py-1 text-xs font-medium text-slate-800">
                            <span>note* description will get shorten at 134 words max.</span>
                        </div>
                        <div class="flex items-center justify-between">
                            <mat-chip-grid #chipList aria-label="Fruit selection">
                                <div>
                                    <mat-chip *ngFor="let fruit of tags" (removed)="remove(fruit)">
                                        {{ fruit.name }}
                                        <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </mat-chip>
                                </div>
                                <div class="w-full space-y-0.5">
                                    <input type="tags" id="Title"
                                        class="border-btn mt-2 w-full rounded border p-4 pe-12 text-sm shadow-sm disabled:cursor-not-allowed disabled:bg-gray-200 disabled:opacity-75"
                                        placeholder="Add tags..." [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)"
                                        [disabled]="tags && tags.length > 4" />
                                </div>
                            </mat-chip-grid>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>