<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<section>
    <div class="mx-auto max-w-screen-xl px-0 py-8 sm:px-6 sm:py-12 lg:px-8">
        <header class=" mb-10">
            <h2 class=" font-thin text-6xl text-gray-700 dark:text-slate-100">Journal</h2>

            <p class="mt-4 text-sm max-w-lg text-zinc-400 font-light dark:text-slate-200">
                explore real estate's tech evolution, from blockchain transactions to virtual tours, redefining ownership and investment. Stay current on efficiency and transparency strategies.
              </p>
          </header>
          
        <ng-template #loading>
            <div aria-label="Loading..." role="status" class="h-52 flex justify-center items-center">
                <svg width="24" height="24" fill="none" stroke="currentColor"
                    stroke-width="1.5" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round"
                    xmlns="http://www.w3.org/2000/svg" class="animate-spin w-6 h-6 stroke-slate-500">
                    <path
                        d="M12 3v3m6.366-.366-2.12 2.12M21 12h-3m.366 6.366-2.12-2.12M12 21v-3m-6.366.366 2.12-2.12M3 12h3m-.366-6.366 2.12 2.12">
                    </path>
                </svg>
            </div>
        </ng-template>
        <ul class="mt-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-4" *ngIf="journal$ | async as journals; else loading">
            <ng-container *ngFor="let journal of journals; let index">
                <article class="group block cursor-pointer"  (click)="onBtnActionClicked(journal.id)">
                    <div class="relative h-[350px] sm:h-[250px]">
                        <img src="{{journal?.forepart}}" alt="artwork"
                            class="absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0 rounded" />

                        <img src="{{journal?.backdrop ?? journal.forepart}}" alt=""
                            class="absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100 rounded" />
                    </div>

                    <div class="mt-3">
                        <span
                            class="text-base font-medium text-gray-700 dark:text-slate-50 group-hover:underline group-hover:underline-offset-4">
                            {{journal.head}}
                        </span>

                        <p class="mt-1.5 max-w-[40ch] text-xs text-gray-500 dark:text-slate-300">
                            {{journal.details}}
                        </p>
                    </div>
                    <!-- <div class="flex flex-wrap md:space-x-3 text-sm dark:text-gray-400">
                    <a rel="noopener noreferrer" href="#" class="hover:underline" *ngFor="let item of x?.tags">#{{item.name}}</a>
                  </div> -->
                </article>
            </ng-container>
        </ul>
    </div>
</section>