<section>
    <div class="mx-8 flex justify-end">
        <button data-cy="logout-button" (click)="toggleDynamicComponent()"
            class="disabled:opacity-50 mt-2 transition inline-flex items-center justify-center space-x-1.5 border focus:outline-none dark:focus:ring-offset-black dark:focus:ring-white focus:z-10 shrink-0 saturate-[110%] border-btn focus:ring-slate-500 bg-white text-slate-900 hover:bg-slate-50 px-3 p-1.5 text-sm font-medium rounded-full dark:bg-transparent dark:text-slate-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z" />
            </svg>

            <span>{{ !dynamicComponentRef? 'map view': 'hide map'}}</span>
        </button>
    </div>

    <section class="container lg:px-8 px-0 py-8 ease-in-out">
        <div class="flex flex-wrap justify-center gap-3 my-12">
            <div class="dark:bg-transparent">
                <div class="mx-auto lg:max-w-7xl lg:overflow-visible">
                    <ng-template #loading>
                        <!-- <div class="h-[60vh]"></div> -->
                    </ng-template>

                    <ng-container *ngIf="artifacts$ | async as artifacts; else loading">
                        <div class="grid grid-cols-4 gap-x-8">
                            <div class="col-span-2 container-without-scrollbar py-6"
                                [ngClass]="{'lg:col-span-4 col-span-4 h-full': !this.dynamicComponentRef}">
                                <div [ngClass]="{'xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2': !this.dynamicComponentRef}"
                                    class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-1 lg:grid-cols-2 xl:gap-x-8">
                                    @for (item of artifacts; track $index) {
                                    <article (click)="onBtnActionClicked(item.id)"
                                        (keypress)="onBtnActionClicked(item.id)"
                                        class="group block cursor-pointer ease-in-out" [tabindex]="$index">
                                        <div class="relative h-[350px] sm:h-[250px]">
                                            <img src="{{item.forepart}}" alt="artwork"
                                                class="absolute inset-0 ease-in-out h-full w-full object-cover opacity-100 group-hover:opacity-0 rounded" />

                                            <img src="{{item?.backdrop ?? item.forepart}}" alt=""
                                                class="absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100 rounded" />
                                        </div>

                                        <div class="mt-3">
                                            <span
                                                class="text-base font-medium text-gray-700 dark:text-slate-50 group-hover:underline group-hover:underline-offset-4">
                                                {{item.head}}
                                            </span>

                                            <p class="mt-1.5 max-w-[40ch] text-xs text-gray-500 dark:text-slate-300">
                                                {{item.details}}
                                            </p>
                                        </div>
                                    </article>
                                    }
                                </div>

                            </div>
                            <!-- Sticky div starts here -->
                            <div class="col-span-2 row-span-4 h-screen py-6 sticky top-0 z-50 ease-in-out"
                                [ngClass]="{'hidden': !this.dynamicComponentRef}">
                                <ng-template #mapComponentContainer></ng-template>
                            </div>
                            <!-- Sticky div ends here -->
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
        </mat-paginator>
    </section>
</section>